{% extends 'base.html' %}
{% load comments_extras %}
<body id="detail">


<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block main %}
                    <article class="post post-{{ article.pk }}">
                        <header class="entry-header">
                            <h1 class="entry-title">
                                <a href="{{ article.get_absolute_url }}">{{ article.title}}</a>
                            </h1>
                            <div class="entry-meta">
                                <span class="post-category"><a href="#">{{ article.category.name}}</a></span>
                                <span class="post-date"><a href="#"><time class="entry-date"
                                                                          datetime="{{ article.creat_time }}">{{ article.creat_time }}</time></a></span>
                                <span class="comments-link"><a href="{{article.get_absolute_url}}#comment-area">{{ article.comment_set.count}}评论</a></span>
                                <span class="views-count"><a href="#">{{ article.view_num}}阅读</a></span>
                            </div>
                        </header>
                        <div class="entry-content clearfix">
                            {{ article.content|safe}}

                        </div>
                    </article>
                    <section class="comment-area" id="comment-area">
                        <hr>
                        <h3>发表评论</h3>
                        {% if form_user %}
                            {% show_comment_form article  %}
                            <div class="like">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span class="like-num">0</span>
                                <span>喜欢</span>
                            </div>
                        {% else %}
                            <br><h5 class="row justify-content-center">
                            请<a href="{% url 'user:login' %}">登录</a>后回复
                        </h5>
                            <br>
                        {% endif %}

                        {#                        {% if form_user %}#}
                        {#                        {% else %}#}
                        {#                            <br><h5 class="row justify-content-center">#}
                        {#                            请<a href="{% url 'user:login' %}">登录</a>后回复#}
                        {#                        </h5>#}
                        {#                            <br>#}
                        {#                        {% endif %}#}
                        <div class="comment-list-panel">
                            {% show_comments article %}
                        </div>
                    </section>
                    </main>
                {% endblock main %}
            {% block toc %}
                {% if article.toc %}
                    <div class="widget widget-content">
                        <h3 class="widget-title">文章目录</h3>
                        <div class="toc">
                            <ul> {{ article.toc|safe }}</ul>
                        </div>
                    </div>
                {% endif %}
            {% endblock toc %}
            <div class="widget widget-recent-posts">
                <h3 class="widget-title">最新文章</h3>
                <ul>
                    <li>
                        <a href="#">Django 博客开发入门教程：前言</a>
                    </li>
                    <li>
                        <a href="#">Django 博客使用 Markdown 自动生成文章目录</a>
                    </li>
                    <li>
                        <a href="#">部署 Django 博客</a>
                    </li>
                </ul>
            </div>

            <div class="widget widget-archives">
                <h3 class="widget-title">归档</h3>
                <ul>
                    <li>
                        <a href="#">2017 年 5 月</a>
                    </li>
                    <li>
                        <a href="#">2017 年 4 月</a>
                    </li>
                    <li>
                        <a href="#">2017 年 3 月</a>
                    </li>
                </ul>
            </div>

            <div class="widget widget-category">
                <h3 class="widget-title">分类</h3>
                <ul>
                    <li>
                        <a href="#">Django 博客教程 <span class="post-count">(13)</span></a>
                    </li>
                    <li>
                        <a href="#">Python 教程 <span class="post-count">(11)</span></a>
                    </li>
                    <li>
                        <a href="#">Django 用户认证 <span class="post-count">(8)</span></a>
                    </li>
                </ul>
            </div>

            <div class="widget widget-tag-cloud">
                <h3 class="widget-title">标签云</h3>
                <ul>
                    <li>
                        <a href="#">Django</a>
                    </li>
                    <li>
                        <a href="#">Python</a>
                    </li>
                    <li>
                        <a href="#">Java</a>
                    </li>
                    <li>
                        <a href="#">笔记</a>
                    </li>
                    <li>
                        <a href="#">文档</a>
                    </li>
                    <li>
                        <a href="#">AngularJS</a>
                    </li>
                    <li>
                        <a href="#">CSS</a>
                    </li>
                    <li>
                        <a href="#">JavaScript</a>
                    </li>
                    <li>
                        <a href="#">Snippet</a>
                    </li>
                    <li>
                        <a href="#">jQuery</a>
                    </li>
                </ul>
            </div>
            <div class="rss">
                <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
            </div>
            </aside>
        </div>
    </div>
</div>


<script src="js/script.js"></script>
<script>
    $(".django-ckeditor-widget").removeAttr('style');

</script>

</body>
</html>
