{% extends 'base.html' %}
{% block main %}
{% for acticle in article_list %}
    <article class="post post-{{ acticle.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{{ acticle.get_absolute_url }}">{{ acticle.title }}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ acticle.category.name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ acticle.creat_time }}">{{ acticle.creat_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ acticle.author.name }}</a></span>
                <span class="comments-link"><a
                        href="{{ acticle.get_absolute_url }}#comment-area">{{ acticle.comment_set.count }}评论</a></span>
                <span class="views-count"><a href="#">{{ acticle.view_num }}阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{ acticle.excerpt }}...</p>
            <div class="read-more cl-effect-14">
                <a href=" {{ acticle.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
{% empty %}
    <div class="no-acticle">暂时还没有发布的文章！</div>
{% endfor %}

{% comment %}
    完善的分页导航
 {% endcomment %}
        <div class="read-more cl-effect-14">
            <ul>
                {% if not is_paginated %}
                    <a href="?page=1">首页</a>
                    <a href="?page=1" style="color: red">1</a>
                    <a href="?page=1">尾页</a>
                {% endif %}
                {% if is_paginated %}
                    <a href="?page=1">首页</a>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
                    {% endif %}
                    {% if first %}
                        <li><a href="?page=1">1</a></li>
                    {% endif %}
                    {% if left %}
                        {% if left_has_more %}
                            <li><span>...</span></li>
                        {% endif %}
                        {% for i in left %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    {% endif %}
                    <li class="current"><a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a></li>
                    {% if right %}
                        {% for i in right %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                        {% if right_has_more %}
                            <li><span>...</span></li>
                        {% endif %}
                    {% endif %}
                    {% if last %}
                        <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                    {% endif %}
                    <a href="?page={{ paginator.num_pages }}">尾页</a>
                {% endif %}
            </ul>
        </div>
{% endblock main %}

